# Question 1

In [1]:
a = 0           # this 'a' is global scope.
def b():
    global a    #all refrences to 'a' in b() are to the global a.
    a = c(a)
def c(a):       # c has a global scope, 'a' has local scope.
    return a + 2
b()
b()
b()
print(a) 
# REASON-
# for function c(a) value of 'a' will initialize from 0 returning 0,2,4 respectively.
# for our shell, although assigned a=0 it will get reassigned to function a=c(a) i.e 6
# where the function b() will run 3 times respectively.

6

<p>Reason - </p>
<p>For function c(a) value of 'a' will initialize from 0 returning 0,2,4 respectively.</p>
<p>For our shell, although assigned a=0 it will get reassigned to function a=c(a) i.e 6</p>
<p>Where the function b() will run 3 times respectively.</p>

# Question 2

In [2]:
def file_length():
    try:
        n = input('Enter file Name with extension: ')
        file = open(n)
        contents = file.readline()
        file.close()
        print(len(contents))

    except ValueError:
    
        print(f'sorry, File {n} not found.')
        
    except FileNotFoundError:
        print(f'File {n} not found.')
        
file_length()

Enter file Name with extension: FileLength.txt
28

In [3]:
file_length()

Enter file Name with extension: ilelength.txt
File ilelength.txt not found.

# Question 3

In [15]:
class Marsupial:
    
    def __init__(self):
        self.pouch_contents = []
    
    def put_in_pouch(self,item):
        return self.pouch_contents.append(item)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents

['doll', 'firetruck', 'kitten']

In [16]:
class Kangaroo(Marsupial):
    
    def __init__(self,xcoord,ycoord):
        super().__init__()
        self.x = xcoord
        self.y = ycoord
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __repr__(self):
        return ('I am a kangaroo located at Coordinates ({},{})'.format(self.x,self.y))

In [17]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at Coordinates (0,0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents

['doll', 'firetruck', 'kitten']

In [19]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at Coordinates (3,0)

# Question 4

In [33]:
def collatz(x):
    if x == 1:
        print(int(x))
        
    elif x % 2 == 0:
        print(int(x))
        x = x / 2
        collatz(int(x))

    else:
        print(int(x))
        x = 3 * x + 1
        collatz(int(x))
        
collatz(10)

10
5
16
8
4
2
1

In [18]:
collatz(1)

1

# Question 5

In [56]:
def binary(n):
    if n < 2:
        return(int(n))
    else:
        x = (str(binary(n // 2)) + str(n % 2))
        return (int(x))
binary(0)

0

In [57]:
binary(1)

1

In [54]:
binary(3)

11

In [55]:
binary(9)

1001

# Question 6

In [8]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.var = ''
        
    def handle_starttag(self, tag, attrs):
        
        if tag == 'h1':
            self.var = 'h1'
            
    def handle_data(self,data):
        
        if self.var == 'h1':
            print(data)

In [35]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# Question 7

In [9]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
class Collector(HTMLParser):
    

    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        
        return self.links

In [10]:
url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'http://reed.cs.depaul.edu/lperkovic/test3.html']

# Question 8

In [8]:
import sqlite3
con = sqlite3.connect('Data_Python.db')
cur = con.cursor()
cur.execute("SELECT * from DATA")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8 a

In [39]:
cur.execute("SELECT Temperature from DATA")
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

# Question 8 b

In [40]:
cur.execute("SELECT Distinct City FROM DATA")
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

# Question 8 c

In [41]:
cur.execute("SELECT * FROM DATA WHERE Country = 'India' ")
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# Question 8 d

In [42]:
cur.execute("SELECT * FROM DATA WHERE Season = 'Fall' ")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8 e

In [43]:
cur.execute("SELECT City, Country, Season FROM DATA WHERE Rainfall BETWEEN 200 AND 400 ")
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

# Question 8 f

In [44]:
cur.execute("SELECT City, Country FROM DATA WHERE Season = 'Fall' AND temperature > 20 ORDER BY temperature ASC")
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# Question 8 g

In [45]:
cur.execute("SELECT SUM(Rainfall) FROM DATA WHERE city = 'Cairo'")
print(cur.fetchall())

[(27.6,)]

# Question 8 h

In [9]:
cur.execute("SELECT Season, SUM(Rainfall) FROM DATA GROUP BY Season")
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9 a

In [12]:
def compre():
    
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    new_list = [x.upper() for x in words]
    
    print(new_list)
compre()

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# Question 9 b

In [13]:
def compre():
    
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    new_lst = [x.lower() for x in words]
    print(new_lst)
compre()

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Question 9 c

In [14]:
def compre():
    
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    new_lst = [len(x) for x in words]
    print(new_lst)
compre()

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# Question 9 d

In [16]:
def compre():
    
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    new_lst = []
    for i in words:
        upper = i.upper()
        lower = i.lower()
        result = [upper,lower,len(i)]
        new_lst.append(result)
    print(new_lst)
compre()

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# Question 9 e

In [17]:
def compre():
    
    words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
    new_lst = [x for x in words if len(x) >= 4]
    print(new_lst)
compre()

['quick', 'brown', 'jumps', 'over', 'lazy']